* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: auto;
}

.container {
    min-height: 100vh;
    margin: 0;
    display: flex;
}

.field-group-desc,.field-group-address {
    grid-column: span 2;
}

.field-group label, .marca-logo-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.field-group input,
.field-group select,
.field-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.disabled{
    color: #ccc;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination a {
    text-decoration: none;
    color: #0a0a23;
    font-size: 12px;
    margin: 0 5px;
    padding: 8px 12px;
}

.pagination a:hover {
    background-color: #0a0a23;
    color: #fff;
}

.sidebar {
    background-color: #0a0a23;
    color: #fff;
    width: 250px;
    padding: 20px;
    height: auto;
    justify-content: space-between;
}

.logo {
    text-align: center;
    margin-bottom: 15px;
}

.logo img {
    width: 70px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 8px;
    cursor: pointer;
}

.toggle-section > a {
    cursor: pointer;
    display: block;
    padding: 10px;
    background-color: #0a0a23;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.toggle-section > a:hover {
    background-color: #2c2c5f;
}

.toggle-content li {
    margin-bottom: 10px;
}

.toggle-content a {
    background-color: #2c2c5f;
    padding: 8px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}

.toggle-content a:hover {
    background-color: #4e4e91;
}

.toggle-icon {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.toggle-content {
    display: none;
}

.toggle-content.show {
    display: block;
}

.toggle-content.show + .toggle-section > a > .toggle-icon {
    transform: rotate(180deg);
}

.content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.user-profile {
    display: flex;
    align-items: center;
}

.notification,
.profile-picture,
.username {
    margin-left: 20px;
}

.notification {
    position: relative;
}

.notification span {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
}

.profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.username span {
    font-weight:old;
    font-size: 18px;
}

.username i {
    margin-left: 5px;
}

.vehicle-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.vehicle-info p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #0a0a23;
}

.vehicle-actions {
    margin-top: 10px;
}

.vehicle-actions i {
    font-size: 18px;
    margin: 0 5px;
    color: #666;
    cursor: pointer;
}

.vehicle-actions i:hover {
    color: #0a0a23;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f4f4f4;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #0a0a23;

}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.div-canva{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

canvas{
    max-width: 1200px;
    max-height: 500px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.thumbnail {
    width: 70px;
    height: 70px;
    background-color: #ddd;
    border-radius: 5px;
}

#thumbnails {
    margin-top: 70px
}


.arrow {
    font-size: 30px;
    cursor: pointer;
}

.vehicle-details {
    flex: 2; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.vehicle-details input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.vehicle-details input:focus {
    border-color: #007BFF;
    outline: none;
}

.sales-section {
    padding: 10px 20px 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0a0a23;
}

.sales-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.sales-header .search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    font-size: 14px;
}

.sales-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sale-card {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 120px;
}

.sale-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.sale-info h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #0a0a23;
}

.sale-info p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #666;
    line-height: 1.2;
}

.sale-actions {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    gap: 12px;
}

.sale-actions i {
    cursor: pointer;
    color: #666;
    font-size: 18px; 
    transition: color 0.3s;
}

.sale-actions i:hover {
    color: #0a0a23;
}

.sales-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.sales-modal-content {
    background-color: #fff;
    border-radius: 16px;
    padding: 30px 40px;
    max-width: 550px;
    width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s;
}

.close:hover {
    color: #000;
}

.sales-modal-content h2 {
    font-size: 24px;
    margin-bottom: 25px;
    color: #333;
    text-align: center;
}

.sales-modal-content p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    display: flex;
    justify-content: space-between;
}

.sales-modal-content p strong {
    color: #333;
    font-weight: 600;
}

.sales-modal-content p + p {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    margin-top: 15px;
}

#detailNotes {
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    color: #444;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #e5e5e5;
    line-height: 1.4;
    margin-top: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.botao-salvar {
    display: block;
    margin: 20px auto;
    background-color: #0a0a23;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.botao-salvar:hover {
    background-color: #3c3c7a;
}

.campo-formulario-venda textarea {
    resize: vertical;
    height: 80px; 
}

.modal-venda {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo-venda {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.fechar-venda {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar-venda:hover,
.fechar-venda:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formulario-edicao {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.campo-formulario-venda {
    flex: 1 1 45%;
    margin-bottom: 15px;
}

.campo-formulario-venda label {
    display: block;
    margin-bottom: 5px;
}

.campo-formulario-venda input,
.campo-formulario-venda textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botao-salvar {
    display: block; 
    margin: 20px auto;
    background-color: #0a0a23;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.botao-salvar:hover {
    background-color: #3c3c7a;
}

.campo-formulario-venda textarea {
    resize: vertical;
    height: 80px;
}

.employee-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.add-employee {
    text-align: center;
    font-size: 18px;
    color: #0a0a23;
    width: 220px;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.add-employee i {
    font-size: 50px;
    color: #0a0a23;
    margin-bottom: 10px;
    cursor: pointer;
}

.employee-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 220px;
    padding: 15px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.employee-photo img {
    width: 80px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.employee-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.employee-info p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
}

.employee-actions {
    margin-top: 10px;
}

.employee-actions i {
    font-size: 18px;
    margin: 0 5px;
    color: #666;
    cursor: pointer;
}

.employee-actions i:hover {
    color: #0a0a23;
}

#employeeModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#modalEdicao{
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.text-area-site{
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

#employeeModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#employeeModal .modal-content {
    background-color: #f4f4f4;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding-bottom: 60px;
}

#employeeModal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.form-wrapper {
    display: flex;
    flex: 1;
    gap: 20px;
}

/* Seção de Foto */
.modal-body .form-wrapper .photo-section {
    padding: 10px;
    border-radius: 10px;
}

.modal-body .form-wrapper .photo-upload {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 0;
}

.modal-body .form-wrapper .uploaded-image {
    border-radius: 10px;
    border: 5px solid #0a0a23;
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.photo-upload-marca {
    background-color: #f0f0f0;
    padding: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.uploaded-image-marca {
    border-radius: 10px;
    border: 5px solid #0a0a23;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.uploaded-image-marca {
    width: 180px;
    object-fit: cover;
}

#cadastrarBtn-marca {
    position: absolute !important;
    background-color: #0a0a23 !important;
    color: white !important;
    border: none !important;
    text-align: center;
    padding: 12px 24px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    width: auto !important;
    right: 0px !important;
    margin-top: 20px !important;
    transition: background-color 0.3s ease !important;
}

#cadastrarBtn-marca:hover {
    background-color: #3c3c7a !important;
}

.botao-salvar-marca {
    position: absolute !important;
    background-color: #0a0a23 !important;
    color: white !important;
    border: none !important;
    text-align: center;
    padding: 12px 24px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    width: auto !important;
    right: 0px !important;
    margin-top: 20px !important;
    transition: background-color 0.3s ease !important;
}

.botao-salvar-marca:hover {
    background-color: #3c3c7a !important;
}

.photo-section-marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.image-preview__image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-preview__image-site-create {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-preview__default-text {
    color: #aaa;
    font-size: 14px;
    position: absolute;
}

.marca-logo {
    padding: 8px;
    font-size: 14px;
    color: #666;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.employee-details {
    flex: 2; /* Ocupa o dobro do espaço em relação à seção de foto */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mantém duas colunas */
    gap: 15px; /* Espaço entre os inputs */
    position: relative; /* Para que o botão seja posicionado em relação a este contêiner */
    padding-bottom: 0px;
}

.employee-details-marcas{
    grid-template-columns: repeat(2, 1fr); /* Mantém duas colunas */
    gap: 15px; /* Espaço entre os inputs */
    position: relative; /* Para que o botão seja posicionado em relação a este contêiner */
    padding-bottom: 40px;
    width: 80%;
    margin-left: 40px;
}

input, select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%
}

input:focus, select:focus {
    border-color: #0a0a23;
    outline: none;
}

.address-full-width {
    grid-column: span 2; /* Ocupa toda a largura */
}

.password-field {
    position: relative;
}

.password-field input {
    width: 100%;
    padding-right: 40px; /* Espaço para o ícone */
}

.password-field i {
    position: absolute;
    right: 10px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #0a0a23; /* Cor do ícone */
}

#cadastrarBtn {
    position: absolute; /* Permite o posicionamento absoluto */
    background-color: #0a0a23;
    color: white;
    border: none;
    text-align: center;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Ajuste a largura como preferir */
    right: 0px; /* Mova o botão para a direita */
    margin-top: 430px; /* Ajusta a posição vertical em relação aos inputs */
    transition: background-color 0.3s ease;
}

#cadastrarBtn:hover {
    background-color: #3c3c7a; /* Cor de fundo ao passar o mouse */
}

.employee-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.employee-card:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do card */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.modal-edicao {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica no lugar */
    z-index: 1; /* Fica na frente */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 500px; /* Largura máxima */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.campo-formulario {
    margin-bottom: 15px; /* Espaço entre os campos */
}

.campo-formulario label {
    display: block; /* Label em bloco */
    margin-bottom: 5px; /* Espaço abaixo do label */
}

.campo-formulario input {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
}

.botao-salvar-clientes {
    background-color: #0a0a23;
    color: white;
    border: none;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Ajuste a largura como preferir */
    transition: background-color 0.3s ease;
}

.botao-salvar:hover {
    background-color: #3c3c7a; /* Cor ao passar o mouse */
}

.modal-confirmacao {
    display: none; /* Inicialmente escondido */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-confirmacao {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.botoes-confirmacao {
    margin-top: 20px;
}

.btn-sim, .btn-nao {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s;
}

.btn-nao {
    background-color: #f44336; /* Vermelho */
}

.btn-sim:hover {
    background-color: #45a049; /* Verde escuro */
}

.btn-nao:hover {
    background-color: #e53935; /* Vermelho escuro */
}

.modal-header {
    display: flex; /* Exibe os elementos lado a lado */
    align-items: center; /* Centraliza verticalmente */
}

.employee-info p {
    margin: 5px 0; /* Espaçamento vertical entre as linhas */
}

.btn-close {
    background-color: #d9534f; /* Cor do botão de fechar */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    margin-top: 20px; /* Espaçamento superior do botão */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.btn-close:hover {
    background-color: #c9302c; /* Cor ao passar o mouse */
}

/* Modal de Visualização */
.modal-view-funcionario,  .modal-view-cliente{
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content-view {
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-view {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #0a0a23;;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* Cabeçalho do modal */
.modal-header-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.modal-header-view h2 {
    margin: 0;
    color: #0a0a23;;
    font-size: 24px;
}

.modal-header-view h3 {
    margin: 5px 0;
    color: #666;
    font-size: 18px;
}

/* Corpo do modal */
.modal-body-view {
    display: flex;
    gap: 20px;
}

/* Estilo da foto */
.foto-view {
    background-color: white;
    border: 3px solid #0a0a23;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.view-funcionario, .view-cliente{
    width: 100%;
    height: 100%;
    object-fit: cover; /* A imagem irá cobrir o quadrado sem distorção */
    border-radius: 10px; /* Mantém o mesmo arredondamento do quadrado */
}

/* Estilo dos detalhes */
.detalhes-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.detalhes-view p {
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.detalhes-view strong {
    color: #333;
}

.detalhes-view span {
    color: #555;
}

/* Cliente */
.description-title {
    display: block;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.description-field {
    width: 100%;
    height: 100px;
    grid-column: span 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-top: 0;
    color: #333;
}

.description-field-a {
    width: 100%;
    min-height: 150px;
    max-height: 200px;
    grid-column: span 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-top: 0;
    color: #333;
}

.description-field-view {
    width: 100%; /* Ocupa toda a largura do modal */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0; /* Remove qualquer margem superior do campo */
}

.foto-view-cliente {
    background-color: white;
    border: 3px solid #0a0a23;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 35px;
}

.modal-body-view-cliente {
    display: flex;
    gap: 30px;
}

.descricao-view {
    width: 100%;
    margin-top: 0px;
    color: #333;
}

.detalhes-view-cliente {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

.detalhes-view-cliente p {
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.detalhes-view-cliente strong {
    color: #333;
}

.detalhes-view-cliente span {
    color: #555;
}

#cadastrarBtn-cliente {
    position: absolute; /* Permite o posicionamento absoluto */
    background-color: #0a0a23;
    color: white;
    border: none;
    text-align: center;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Ajuste a largura como preferir */
    right: 0px; /* Mova o botão para a direita */
    margin-top: 500px; /* Ajusta a posição vertical em relação aos inputs */
    transition: background-color 0.3s ease;
}

#cadastrarBtn-cliente:hover {
    background-color: #3c3c7a; /* Cor de fundo ao passar o mouse */
}

#cadastrarBtn-veiculos {
    background-color: #0a0a23;
    color: white;
    border: none;
    text-align: center;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 120px; /* Ajuste a largura como preferir */
    transition: background-color 0.3s ease;
}

#cadastrarBtn-veiculos:hover {
    background-color: #3c3c7a; /* Cor de fundo ao passar o mouse */
}

.align-button-veiculos{
    grid-column: span 2;
    justify-self: end;
}

.botao-salvar-categorias {
    margin: 20px auto;
    background-color: #0a0a23;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    right: 0px;
    position: absolute;
}

.botao-salvar-categorias:hover {
    background-color: #3c3c7a;
}

#cadastrarBtn-categorias {
    position: absolute; /* Permite o posicionamento absoluto */
    background-color: #0a0a23;
    color: white;
    border: none;
    text-align: center;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    right: 0px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#cadastrarBtn-categorias:hover {
    background-color: #3c3c7a;
}

.pagination {
    font-size: 14px;  /* Tamanho de fonte padrão */
    margin: 10px auto;  /* Margens adequadas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    list-style: none;  /* Remover os marcadores da lista */
    margin: 0 5px;  /* Espaçamento entre os itens de navegação */
}

.pagination a,
.pagination span {
    padding: 6px 12px;  /* Padding padrão */
    font-size: 14px;  /* Tamanho de fonte padrão */
    height: 30px;  /* Altura padrão */
    line-height: 18px;  /* Alinhar o texto verticalmente */
    border-radius: 4px;  /* Bordas arredondadas */
    text-align: center;  /* Garantir que o texto fique centralizado */
    display: inline-block;  /* Garantir que os itens de navegação fiquem em linha */
}

.pagination .active {
    background-color: #007bff;  /* Cor de fundo do item ativo */
    color: white;  /* Cor do texto ativo */
}

.pagination .disabled {
    pointer-events: none;  /* Desabilitar interatividade nas setas de navegação inativas */
    opacity: 0.5;  /* Opacidade das setas inativas */
}

.vehicle-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.vehicle-modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vehicle-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.vehicle-close:hover,
.vehicle-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.vehicle-form-container {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.photo-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vehicle-details {
    flex: 2;
}

.vehicle-details input,
.vehicle-details textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.upload-container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.upload-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.file-input {
    display: none;
}

.thumbnail {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail input[type="radio"] {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: scale(1.5);
    accent-color: #007bff;
}

.upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.upload-btn:hover {
    background-color: #0056b3;
}

.vehicle-photo-preview {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.vehicle-thumbnail {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.vehicle-details textarea {
    height: 80px;
    resize: vertical;
}

.modal-veiculo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 1000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.vehicle-name-year strong {
    margin-right: 5px;
}

.vehicle-name-year span {
    display: block;
    margin-bottom: 10px;
}

.modal-header h2 {
    font-size: 24px;
    color: #333;
}

.close {
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.vehicle-images {
    flex: 1;
}

.vehicle-images h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-gallery .large-image {
    width: calc(100% - 10px);
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.image-gallery img:not(.large-image) {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.vehicle-info {
    flex: 2;
}

.vehicle-info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.info-grid div {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.info-grid strong {
    color: #555;
}

.modal-confirmacao-venda {
    display: none;
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.titulo-modal {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0a0a23;
    text-align: center;
}

.campo-form {
    margin-bottom: 15px;
}

.label-campo {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-campo, .textarea-campo {
    width: 100%;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
    background-color: #f9f9f9;
}

.textarea-campo {
    height: 100px;
    resize: none;
}

.botao-confirmar {
    display: block;
    background-color: #0a0a23;
    color: white; 
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.botao-confirmar:hover {
    background-color: #3c3c7a;
}

.fechar {
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
    float: right;
}

.vehicle-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 40px;
}

.add-vehicle {
    text-align: center;
    font-size: 18px;
    color: #0a0a23;
}

.add-vehicle i {
    font-size: 50px;
    color: #0a0a23;
    margin-bottom: 10px;
    cursor: pointer;
}

.vehicle-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 220px;
    max-height: 360px;
    min-height: 360px;
    padding: 15px;
    text-align: center;
    margin-left: 20px;
}

.vehicle-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.vehicle-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.vehicle-info p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #0a0a23;
}

.vehicle-actions {
    margin-top: 10px;
}

.vehicle-actions i {
    font-size: 18px;
    margin: 0 5px;
    color: #666;
    cursor: pointer;
}

.vehicle-actions i:hover {
    color: #0a0a23;
}

.vehicle-details {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.vehicle-details input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.vehicle-details input:focus {
    border-color: #007BFF;
    outline: none;
}